.nopage{
  display: flex;
  justify-content: center;
}

.page-full{
  background: url("../../images/90512163_2545453482363467_1530343546744209408_o.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;

 .container-head{
  height: 10vh;

  }

  p{
    font-style: italic;
    color:#fff;
  }

  .container{
    //height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin:2rem;

    .skills{
      display: flex;
      flex-direction: column;
    }
  }

  .footer{
    //height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin:2rem;
  }
}

@media (min-width: 768px){
  .page-full{
    background-position-x: center;
    overflow: auto;
  }
}