$primaryColor:#fff;

.nopage{
  display: flex;
  justify-content: center;
}

.page-full{
  background: url("../../images/90512163_2545453482363467_1530343546744209408_o.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;

  p{
    font-style: italic;
    color:$primaryColor;
  }

  .container{
    display: flex;
    justify-content: center;
    margin:2rem;

    .skills{
      display: flex;
      flex-direction: column;
    }
  }

  .container-head{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin:2rem;
  }
  .extras{
    color:$primaryColor;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin:1rem;
  }
}

@media (min-width: 768px){
  .page-full{
    background-position-x: center;
    overflow: auto;
  }
}